*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}
body{
    background-color: rgb(255, 245, 245);
    display: grid;
    place-items: center; 
}
h1{
    color: black;
    font-size: 40px;
    margin-top: 50px;
    margin-right: 650px;
    white-space:nowwrap;
}
.container{
    max-width: 1200px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.slide-button{
    /* top:50%; */
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    /* position: absolute; */
    /* transition:translateY(-50%); */
    border: none;
    margin-left: 10px;
    margin-right: 10px;
} 
.slider-wrapper{
    /* position:relative; */
    width: 80%;
    display: flex;
    grid-template-columns: auto auto auto;
    gap:15px;
    overflow-x: auto; 
    height: 350px;
}
.slider-wrapper::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}

.slider-wrapper::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Radius of the scrollbar thumb */
}

.slider-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
    
}
.slide-button:hover{
    background-color: rgb(57, 55, 55);
}
.slider-wrapper img{
    width:100%;
    background-size: cover;
    margin-bottom: 30px;
}

